@mixin clearfix() {
  &:before,
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin min-max($min-width, $max-width, $padding) {
  min-width: $min-width;
  max-width: $max-width;
  padding: 0 $padding;
  box-sizing: border-box;
  margin: 0 auto;
}

@mixin adaptive-video() {
  position: relative;
  padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

}

@mixin visually-hidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

@function px-to-rem($size, $basicSize: 16px) {
  @return $size / $basicSize#{rem};
}

@mixin dynamicText($minSizePercent, $maxSize, $minSize, $minWidthPx, $maxWidth, $minWidth) {
  font-size: calc(#{$minSizePercent} + (#{$maxSize} - #{$minSize}) * (100vw - #{$minWidthPx}) / (#{$maxWidth} - #{$minWidth}));
}

@mixin button($bgColor: #40b435) {
  border-radius: 3px;
  background-color: $bgColor;
  width: 100%;
  font-size: px-to-rem(18px);
  line-height: 1.333;
  color: $white;
  font-weight: 700;
  display: block;
  padding-top: 13px;
  padding-bottom: 14px;
  padding-left: 70px;
  box-sizing: border-box;
  margin-bottom: 21px;
  transition-property: background-color;
  transition-duration: 500ms;

  span {
    font-weight: 400;
    display: block;
    color: rgba(255, 255, 255, 0.502);
  }

  &:hover {
    background-color: darken($bgColor, 10%);
  }

}

@mixin checkbox() {
  margin-top: 7px;
  margin-bottom: 7px;

  input[type="checkbox"] {
    display: none;

    &:checked {

      + label {

        &::before {
          content: "";
          width: 14px;
          height: 6px;
          border-left: 2px solid $black;
          border-bottom: 2px solid $black;
          position: absolute;
          left: 4px;
          top: 5px;
          transform: rotate(-45deg);
          z-index: 1;
        }

      }

    }

  }

  label {
    font-size: px-to-rem(18px);
    line-height: 1.333;
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    display: inline-block;
    color: $black;

    &::after {
      width: 23px;
      height: 23px;
      border: 1px solid $black;
      box-sizing: border-box;
      content: "";
      background-color: transparent;
      border-radius: 3px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

  }

}