.course-list {
  flex-basis: 100%;
  min-width: 100%;
  flex-grow: 1;
  color: $black;
}

.course-list__top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: 15px 0;
}

.course-list__title {
  font-size: px-to-rem(40px);
  line-height: 1.2;
  font-weight: bold;
  margin: 0 !important;
}

.course-list__bid {
  font-size: px-to-rem(18px);
  line-height: 1.333;
}

.course-list__item {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(227, 232, 241);
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 20px 24px 0px rgba(18, 77, 190, 0.15);
  box-sizing: border-box;
  display: flex;
}

.course-list__left {
  padding-right: 44px;
  padding-left: 34px;
  padding-top: 34px;
  padding-bottom: 34px;
  box-sizing: border-box;
  flex-basis: 389px;
  flex-shrink: 0;
  border-right: 1px solid rgb(234, 239, 241);
}

.course-list__pay-title {
  font-size: px-to-rem(26px);
  font-weight: 900;
  line-height: 0.923;
  margin-bottom: 25px !important;
}

.course-list__full-price, .course-list__discount {
  font-size: px-to-rem(18px);
  line-height: 1.333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 !important;
}

.course-list__pay {
  font-size: px-to-rem(18px);
  font-weight: 700;
  line-height: 1.333;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 20px 0 !important;
  text-transform: uppercase;

  span {
    font-size: px-to-rem(24px);
    text-transform: initial;
  }

}

.course-list__btn {
  @include button();
}

.course-list__btn--receipt,
.course-list__btn--online,
.course-list__btn--credit {
  background-image: url("../img/receipt.png");
  background-position: 23px center;
  background-repeat: no-repeat;
}

.course-list__btn--online {
  background-image: url("../img/online.png");
}

.course-list__btn--credit {
  background-image: url("../img/credit.png");
}

.course-list__checkbox {
  @include checkbox();
}

.course-list__right {
  padding: 35px 39px 39px 39px;
  flex-grow: 1;
  box-sizing: border-box;
}

.course-list__type {
  font-size: px-to-rem(18px);
  color: rgb(165, 165, 165);
  line-height: 1.333;
  margin: 0 0 10px !important;
}

.course-list__name {
  font-size: px-to-rem(22px);
  line-height: 1.091;
  font-weight: 700;
  margin: 10px 0 0 0;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(234, 239, 241);
}

.course-list__information-left {
  margin-right: 15px;
}

.course-list__information {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.course-list__lastname,
.course-list__address,
.course-list__first-date,
.course-list__last-date {
  font-size: px-to-rem(16px);
  line-height: 1.5;
  color: #a5a5a5;
  margin: 10px 0 !important;

  span {
    color: $black;
  }

}

.course-list__edit {
  display: inline-block;
  margin-left: 5px;

  img {
    display: block;
  }

}

.course-list__warning {
  padding-top: 13px;
  padding-bottom: 14px;
  margin: 10px 0;
}

.course-list__documents {
  margin: 20px 0 10px;
}