.warning {
  border: 2px solid $orange;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: $orange;
}

.warning__left {
  padding-left: 23px;
  margin-right: 15px;

  p {
    font-size: px-to-rem(18px);
    font-weight: 700;
    line-height: 1.333;
    background: url("../img/info.png") left center no-repeat;
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

}

.warning__right {
  margin-left: 15px;

  p {
    font-size: px-to-rem(18px);
    line-height: 1.333;
    margin: 0 !important;
  }

}
